/*---------------------
     VARIABLES
----------------------*/

/* Color Variables */

$color-theme: #ff4c01;
$color-body: #9b9b9b;
$color-white: #ffffff;
$color-black: #000000;
$color-heading: #1b1a1a;
$color-dark: #222222;
$color-gray: #f9f9f9;
$color-gray2: #f4f4f4;

/* Font Variables */

$font-heading: 'Rubik',
sans-serif;

$font-body: 'Roboto',
sans-serif;

$body-font-size: 15px;